body {
  height: 100vh;
  overflow: hidden;
  font-family: Helvetica;
  display: flex;
  justify-content: center;
  background-color: white;
}
.inner-wrap {
  /* width: 100%;
  max-width: 1620px;
  padding: 2rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center; */
}

#input-container {
  z-index: 99;
  display: grid;
  place-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  padding: 2rem;
}

#input-field {
  border: solid 1px black;
  border-radius: 5rem;
  background-color: white;
  font-size: 24px;
  width: 40rem;
  padding: 1rem 2rem;
}
#input-field:focus {
  outline: none;
}

#canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
