body {
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 2rem 2rem;
  font-family: Helvetica;
}

#inner-wrap {
  width: 100%;
  max-width: 1280px;
}

#grids {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid {
  width: 100%;
  padding-bottom: 2rem;
}
.locker-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.locker {
  width: 100%;
}

.button {
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.opened {
  background-color: rgb(7, 57, 192);
  color: white;
}

.closed {
  background-color: rgba(255, 231, 12, 0.945);
}

.locked {
  background-color: rgb(211, 209, 209);
  color: gray;
  cursor: not-allowed;
}

.timer-container {
  position: absolute;
  top: 35%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.timer {
  font-weight: 600;
  font-size: 20px;
}
