body {
  height: 100vh;
  overflow: hidden;
}

#canvas {
  width: 100vw;
  height: 100vh;
  position: fixed;
}

#input-field {
  position: absolute;
  border: none;
  border-radius: 5px;
  font-size: 24px;
  padding: 0.5rem 1rem;
}
#input-field:focus {
  outline: none;
  box-shadow: 0px 5px 20px grey;
  /* border: solid 1px black; */
}
