:root {
  --white-1: #b4b4b4;
  --white-2: #969696;
  --black-1: #121313;
  --gray-1: #1b1d1d;
  --gray-2: #212424;
  --gray-3: #2e302f;
}

body {
  font-family: Helvetica;
  display: flex;
  justify-content: center;
  background-color: var(--black-1);
}
.inner-wrap {
  width: 100%;
  max-width: 1620px;
  height: 100vh;
  padding: 2rem 5rem;
}
.column-wrap {
  width: 100%;
  height: calc(100% - 4rem);
  display: grid;
  grid-template-columns: 5fr 3fr;
  gap: 0rem 1rem;
}
.column {
  border-radius: 1rem;
  padding: 1rem 3rem;
  overflow-y: auto;
  background-color: var(--gray-1);
  /* height: 100%; */
}
#left-column {
}
#right-column {
  display: grid;
  grid-template-rows: 1fr 6fr 2fr 1fr;
  & p {
    line-height: 1.6rem;
  }
}
.intro {
  & h1 {
    color: var(--white-1);
    margin-bottom: 0.6rem;
  }
  & h2 {
    font-size: 20px;
    font-weight: 600;
    color: #969696;
    margin-top: 0;
  }
}
.story-container {
  width: 100%;
  overflow: hidden;
}
#story {
  margin: 0;
  padding: 2rem 0rem;
  width: calc(100% + 18px);
  height: calc(100% - 4rem);
  overflow-y: scroll;
  color: var(--white-1);
}
.story-block {
  width: 90%;
  padding: 1rem 1rem;
  display: block;
  border-radius: 0.8rem;
  background-color: var(--gray-2);
}
.my-story {
  padding: 0rem 1rem;
}
#option-container {
}
.option {
  color: var(--white-2);
  border: solid 1px var(--white-2);
  display: inline-block;
  margin: 0.5rem;
  padding: 0.3rem 1rem;
  border-radius: 2rem;
  cursor: pointer;
}
.option:hover {
  background-color: var(--white-2);
  color: var(--gray-1);
}
#input-container {
  z-index: 99;
  display: flex;
  align-items: center;
  padding-top: 1rem;
}
#input-field {
  border: none;
  border-radius: 0.8rem;
  background-color: var(--gray-3);
  font-size: 16px;
  width: 100%;
  padding: 1.4rem 1.4rem;
  resize: none;
  font-family: Helvetica;
  color: var(--white-1);
}
#input-field:focus {
  outline: none;
}
#trash {
  height: 2rem;
  margin-left: 2rem;
  cursor: pointer;
  filter: invert(66%) sepia(22%) saturate(0%) hue-rotate(271deg) brightness(87%)
    contrast(84%);
}
