:root {
  --text-primary: #212424;
  --text-secondary: #414242;
  --background-color: #d1d3d4;
  --column-background: #ebebeb;
  --story-background: #dddee0;
  --input-background: #c7c9c6;
}

body {
  font-family: Helvetica;
  display: flex;
  justify-content: center;
  background-color: var(--background-color);
}
.inner-wrap {
  width: 100%;
  max-width: 1620px;
  height: 100vh;
  padding: 2rem 5rem;
}
.column-wrap {
  width: 100%;
  height: calc(100% - 4rem);
  display: grid;
  grid-template-columns: 5fr 3fr;
  gap: 0rem 1rem;
}
.column {
  border-radius: 1rem;
  padding: 2rem 3rem;
  overflow-y: auto;
  background-color: var(--column-background);
  /* height: 100%; */
}
#left-column {
  padding: 2rem 0rem;
  overflow: hidden;
}
#gallery {
  height: 100%;
  display: flex;
  /* overflow: hidden; */
  transition: transform 0.4s ease-in-out;
}
.image-outer-container {
  flex: 0 0 calc(100% - 4rem);
  max-width: 100%;
  height: 100%;
  padding: 0rem 2rem;
}
.image-inner-container {
  border-radius: 1rem;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.story-image {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
}
#right-column {
  display: grid;
  grid-template-rows: auto 3fr 1fr auto;
  & p {
    line-height: 1.6rem;
  }
}
.intro {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  & h1 {
    margin: 0;
    color: var(--text-primary);
    padding-right: 1rem;
    font-size: 1.5rem;
  }
  & select {
    border-radius: 2rem;
    border: solid 1px var(--text-secondary);
    color: var(--text-secondary);
    background: none;
    font-size: 1rem;
    padding: 0.5rem 0.5rem;
    cursor: pointer;
  }
}
.story-container {
  width: 100%;
  overflow: hidden;
}
#story {
  margin: 0;
  padding: 2rem 0rem;
  width: calc(100% + 18px);
  height: calc(100% - 4rem);
  overflow-y: scroll;
  color: var(--text-primary);
}
.story-block {
  width: 90%;
  padding: 1rem 1rem;
  display: block;
  border-radius: 0.8rem;
  background-color: var(--story-background);
}
.my-story {
  padding: 0rem 1rem;
}
#option-container {
  padding-top: 1rem;
  position: relative;
}
.option {
  color: var(--text-secondary);
  border: solid 1px var(--text-secondary);
  display: inline-block;
  margin: 0.5rem;
  padding: 0.3rem 1rem;
  border-radius: 2rem;
  cursor: pointer;
}
.option:hover {
  background-color: var(--text-secondary);
  color: var(--column-background);
}
#input-container {
  z-index: 99;
  display: flex;
  align-items: center;
  padding-top: 1rem;
}
#input-field {
  border: solid 1px var(--text-secondary);
  border-radius: 0.8rem;
  background: none;
  font-size: 16px;
  width: 100%;
  padding: 1.4rem 1.4rem;
  resize: none;
  font-family: Helvetica;
  color: var(--text-primary);
}
#input-field:focus {
  outline: none;
}
#trash {
  height: 2rem;
  margin-left: 2rem;
  cursor: pointer;
  filter: invert(66%) sepia(22%) saturate(0%) hue-rotate(271deg) brightness(87%)
    contrast(84%);
}

#loader {
  position: absolute;
  bottom: 1rem;
  left: 3rem;
  color: var(--text-primary);
  width: 4px;
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: 19px 0 0 7px, 38px 0 0 3px, 57px 0 0 0;
  transform: translateX(-38px);
  animation: l21 0.5s infinite alternate linear;
}

@keyframes l21 {
  50% {
    box-shadow: 19px 0 0 3px, 38px 0 0 7px, 57px 0 0 3px;
  }
  100% {
    box-shadow: 19px 0 0 0, 38px 0 0 3px, 57px 0 0 7px;
  }
}
