body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.menu {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: orange;
}
